# 01. Importing Libraries

In [4]:
# Import libraries
import pandas as pd
import numpy as np
import os
pd.options.mode.chained_assignment = None

# 02. Importing Data

In [6]:
## The main folder path
path= r'E:\Asawer\12.06.2024 Instacart Basket Analysis'

# Import dataset orders_products_merged.pkl
df_ords_prods_derived = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_derived.pkl'))

In [7]:
df_ords_prods_derived.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,7.0,10,0,both,Mid-range product,Mid-range product,Regularly busy,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders

In [8]:
df_ords_prods_derived.shape

(32404859, 19)

# 03. Calculate Mean of Order Number

In [10]:
# Use groupby and agg functions to calculate mean of user_order_number
df_ords_prods_derived.groupby('department_id').agg({'order_number' : ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Notes: applying the groupby and agg. functions to the entire dataframe showed more department_ids compared to the subset of the dataframe.
Plus, the mean values of each department getting higher when looking at the entire dataframe.

# 04. Create Loyalty Flag for Exisiting Customers

In [13]:
# Use groupby and transform() functions with np.max argument to determine maximum order number for each user
df_ords_prods_derived['max_order'] = df_ords_prods_derived.groupby(['user_id'])['order_number'].transform(np.max)

C:\Users\ALHADDI\AppData\Local\Temp\ipykernel_3532\295498883.py:2: FutureWarning: The provided callable <function max at 0x000001BF4DFD25C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_derived['max_order'] = df_ords_prods_derived.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
##  Check updated dataframe
df_ords_prods_derived.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,7.0,10,0,both,Mid-range product,Mid-range product,Regularly busy,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.8,1701441,777,16,1,7,26.0,7,0,both,Mid-range product,Mid-range product,Regularly busy,Busiest days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.8,1871483,825,3,2,14,30.0,2,0,both,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.8,1290456,910,12,3,10,30.0,1,0,both,Mid-range product,Mid-range product,Regularly busy,Slowest days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.8,369558,1052,10,1,20,19.0,1,0,both,Mid-range product,Mid-range product,Regularly busy,Busiest days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.8,589712,1052,15,1,12,15.0,2,1,both,Mid-range product,Mid-range product,Regularly busy,Busiest days,Most orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.8,1798115,1379,1,5,11,7.0,1,0,both,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.8,497193,1480,36,3,13,7.0,1,0,both,Mid-range product,Mid-range product,Regularly busy,Slowest days,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.8,1727826,1480,38,4,13,7.0,3,1,both,Mid-range product,Mid-range product,Least busy,Slowest days,Most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.8,2694698,1480,39,2,12,12.0,4,1,both,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Most orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.8,3171753,1494,6,3,10,2.0,8,0,both,Mid-range product,Mid-range product,Regularly busy,Slowest days,Most orders,13

In [15]:
## Use loc function to make loyalty flag column with given criteria
df_ords_prods_derived.loc[df_ords_prods_derived['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [16]:
df_ords_prods_derived.loc[(df_ords_prods_derived['max_order'] <= 40) & (df_ords_prods_derived['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [17]:
df_ords_prods_derived.loc[df_ords_prods_derived['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [18]:
## Check frequency of values in new loyalty flag column
df_ords_prods_derived['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [19]:
df_ords_prods_derived.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,add_to_cart_order,reordered,_merge,price_range,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,5,0,both,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,1,both,Mid-range product,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,20,0,both,Mid-range product,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,10,0,both,Mid-range product,Mid-range product,Regularly busy,Slowest days,Most orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,11,1,both,Mid-range product,Mid-range product,Least busy,Slowest days,Average orders,3,New customer

# 05. Look at Spending Habits of Loyalty Groups

In [21]:
# Use groupby and agg() to determine basic statisitcs of spending habits by loyalty group
df_ords_prods_derived.groupby('loyalty_flag').agg({'prices' : ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

In [22]:
### Note: The average price (mean) of a product purchased by a new customer is about $3 more than that of a loyal customer.

## Note: we can see that the maximum value is very far from the mean and medianm so we can just treat them as missing values using this function

In [24]:
df_ords_prods_derived.loc[df_ords_prods_derived['prices'] >100, 'prices'] = np.nan

In [25]:
df_ords_prods_derived['prices'].max()

25.0

# 06 Create a spending flag for each user based on the average price across all their orders

In [27]:
## Use transform() to determine the mean price of products purchased by each user
df_ords_prods_derived['mean_product_price'] = df_ords_prods_derived.groupby(['user_id'])['prices'].transform(np.mean)

C:\Users\ALHADDI\AppData\Local\Temp\ipykernel_3532\2258430632.py:2: FutureWarning: The provided callable <function mean at 0x000001BF4DFD2FC0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_ords_prods_derived['mean_product_price'] = df_ords_prods_derived.groupby(['user_id'])['prices'].transform(np.mean)

In [28]:
# View relevant columns 
df_ords_prods_derived[['user_id', 'mean_product_price']].head(15)

    user_id  mean_product_price
0       138            6.935811
1       138            6.935811
2       709            7.930208
3       764            4.972414
4       764            4.972414
5       777            6.935398
6       825            5.957576
7       910            6.680000
8      1052            7.162500
9      1052            7.162500
10     1379            5.813636
11     1480            5.081633
12     1480            5.081633
13     1480            5.081633
14     1494            6.803797

In [29]:
## Create spending_flag column with given criteria using loc() function
df_ords_prods_derived.loc[df_ords_prods_derived['mean_product_price'] >= 10, 'spending_flag'] = 'High spender'

In [30]:
df_ords_prods_derived.loc[df_ords_prods_derived['mean_product_price'] < 10, 'spending_flag'] = 'Low spender'

In [31]:
## Check frequency of new spending_flag column
df_ords_prods_derived['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     32285131
High spender      119728
Name: count, dtype: int64

In [32]:
## View relevant columns of updated dataframe
df_ords_prods_derived[['user_id', 'mean_product_price', 'spending_flag']].head(20)

    user_id  mean_product_price spending_flag
0       138            6.935811   Low spender
1       138            6.935811   Low spender
2       709            7.930208   Low spender
3       764            4.972414   Low spender
4       764            4.972414   Low spender
5       777            6.935398   Low spender
6       825            5.957576   Low spender
7       910            6.680000   Low spender
8      1052            7.162500   Low spender
9      1052            7.162500   Low spender
10     1379            5.813636   Low spender
11     1480            5.081633   Low spender
12     1480            5.081633   Low spender
13     1480            5.081633   Low spender
14     1494            6.803797   Low spender
15     1494            6.803797   Low spender
16     1494            6.803797   Low spender
17     1540            6.607122   Low spender
18     1540            6.607122   Low spender
19     1540            6.607122   Low spender

# 07  Create an order frequency flag that marks the regularity of a user’s ordering behavior according to the median in the “days_since_prior_order” column.

In [34]:
# Use groupby and transform to determine median number of days between orders for each user
df_ords_prods_derived['median_days_between_orders'] = df_ords_prods_derived.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

C:\Users\ALHADDI\AppData\Local\Temp\ipykernel_3532\2423430005.py:2: FutureWarning: The provided callable <function median at 0x000001BF4E1054E0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  df_ords_prods_derived['median_days_between_orders'] = df_ords_prods_derived.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [35]:
# View relevant columns of updated dataframe
df_ords_prods_derived[['user_id', 'days_since_prior_order', 'median_days_between_orders']].head(20)

    user_id  days_since_prior_order  median_days_between_orders
0       138                     3.0                         8.0
1       138                    20.0                         8.0
2       709                     6.0                         7.0
3       764                     7.0                         9.0
4       764                     9.0                         9.0
5       777                    26.0                        11.0
6       825                    30.0                        19.0
7       910                    30.0                         6.0
8      1052                    19.0                         9.5
9      1052                    15.0                         9.5
10     1379                     7.0                        20.0
11     1480                     7.0                         7.0
12     1480                     7.0                         7.0
13     1480                    12.0                         7.0
14     1494                     2.0                         7.0
15     1494                     6.0                         7.0
16     1494                    10.0                         7.0
17     1540                     7.0                         7.0
18     1540                     6.0                         7.0
19     1540                    14.0                         7.0

In [36]:
# Create order frequency flag based on given criteria using loc function
df_ords_prods_derived.loc[df_ords_prods_derived['median_days_between_orders'] > 20, 'order_frequency'] = 'Non-frequent customer'

In [37]:
df_ords_prods_derived.loc[(df_ords_prods_derived['median_days_between_orders'] <= 20) & (df_ords_prods_derived['median_days_between_orders'] > 10), 'order_frequency'] = 'Regular customer'

In [38]:
df_ords_prods_derived.loc[df_ords_prods_derived['median_days_between_orders'] <= 10, 'order_frequency'] = 'Frequent customer'

In [39]:
# Check value counts of new order_frequency column
df_ords_prods_derived['order_frequency'].value_counts(dropna = False)

order_frequency
Frequent customer        22790523
Regular customer          6927608
Non-frequent customer     2686728
Name: count, dtype: int64

There seems to be rows that were not labeled. One explanation for this could be that there are some users who have only ever made one order.

In [41]:
# View relevant columns of updated data frame
df_ords_prods_derived[['user_id', 'days_since_prior_order', 'median_days_between_orders', 'order_frequency']].head(30)

,user_id,days_since_prior_order,median_days_between_orders,order_frequency
0,138,3.0,8.0,Frequent customer
1,138,20.0,8.0,Frequent customer
2,709,6.0,7.0,Frequent customer
3,764,7.0,9.0,Frequent customer
4,764,9.0,9.0,Frequent customer
5,777,26.0,11.0,Regular customer
6,825,30.0,19.0,Regular customer
7,910,30.0,6.0,Frequent customer
8,1052,19.0,9.5,Frequent customer
9,1052,15.0,9.5,Frequent customer
10,1379,7.0,20.0,Regular customer
11,1480,7.0,7.0,Frequent customer
12,1480,7.0,7.0,Frequent customer
13,1480,12.0,7.0,Frequent customer
14,1494,2.0,7.0,Frequent customer
15,1494,6.0,7.0,Frequent customer
16,1494,10.0,7.0,Frequent customer
17,1540,7.0,7.0,Frequent customer
18,1540,6.0,7.0,Frequent customer
19,1540,14.0,7.0,Frequent customer
20,1540,8.0,7.0,Frequent customer
21,1540,6.0,7.0,Frequent customer
22,1540,28.0,7.0,Frequent customer
23,1540,7.0,7.0,Frequent customer
24,1540,7.0,7.0,Frequent customer
25,1540,0.0,7.0,Frequent customer
26,1540,7.0,7.0,Frequent customer
27,1540,7.0,7.0,Frequent customer
28,1540,7.0,7.0,Frequent customer
29,1540,7.0,7.0,Frequent customer

# 08. Exporting Data

In [43]:
# Export derived data frame as pickle file
df_ords_prods_derived.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_grouped.pkl'))

In [44]:
df_ords_prods_derived.shape

(32404859, 25)